@font-face {
    font-family: 'TTLakesCondensed-Black';
    src: url('TTLakesCondensed-Black.eot.eot');
    src: local('TT Lakes Condensed ExtraLight'), local('TTLakesCondensed-Black'),
        url('TTLakesCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Black.woff.woff') format('woff'),
        url('TTLakesCondensed-Black.ttf.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
