.body {
    background-color: #F8F8F8;
    font-family: 'TTLakesCondensed-Black';
}

.main {
    width: 99%;
    margin: auto;
    position: relative;
}

.center {
    width: 90%;
    margin: auto;
}

.icons-and-logo_768px {
    display: none;
}

.icons-and-logo_320px {
    display: none;
}

.main::before {
    content: "";
    background-color: #41F6D7;
    width: 0.5em;
    height: 3.5em;
    position: absolute;
    top: 1em;
    border-radius: 2px;
}

.header-and-feedback {
    display: flex;
    justify-content: space-around;
}

.header-and-feedback__header {
    margin-left: 1em;
    flex-basis: 30%;
    align-self: center;
    padding-top: 0.5em;
}

.header-and-feedback__h1 {
    font-size: 28px;
}

.header-and-feedback__feedback {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    padding-top: 2em;
}

.header-and-feedback__link1 {
    text-decoration: none;
    color: #1B1C21;
    align-self: center;
}

.header-and-feedback__block {
    display: flex;
}

.header-and-feedback__button {
    background-color: #F8F8F8;
    border: none;
    align-self: center;
}

.header-and-feedback__button:hover {
    border: none;
    outline-offset: 0;
    outline: none;
}

.header-and-feedback__block:hover .header-and-feedback__link1 {
    text-decoration: underline;
    text-decoration-color: blue;
}

.menu {
    margin-top: 2em;
    width: 1000px;
    overflow: auto;
    height: auto;
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu__list-item {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    padding: 10px;
    box-sizing: border-box;
}

.menu__list1 {
    justify-content: start;
}

.menu__list-item_one {
    margin-top: 1%;
    margin-left: 4%;
}

.menu__list-item_hidden {
    visibility: hidden;
}

.menu__list-item:hover .menu__link {
    text-decoration: underline;
    text-decoration-color: blue;
}

.menu__link {
    text-decoration: none;
    color: #7E7E82;
    font-size: 1em;
    line-height: normal;
    letter-spacing: -0.2px;
}

.content {
    display: flex;
    /* margin-top: 100px; */
}

.content__text {
    font-size: 1.5em;
    line-height: 1em;
    flex-basis: 50%;
}

.content__image {
    width: 600px;
    height: 400px;
    margin-left: 2em;
}

.block-to-next__link {
    margin-left: 0.1em;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.block-to-next {
    margin-left: 2%;
}

.block-to-next__button {
    background-image: url(bound.png);
    border: none;
}

.block-to-next__button:focus {
    border: none;
    outline-offset: 0;
    outline: none;
}

.block-to-next:hover .block-to-next__link {
    text-decoration: underline;
    text-decoration-color: blue;
}

@media (max-width:768px) {
    .icons-and-logo_768px {
        display: flex;
        justify-content: space-between;
        background-color: #FFFFFF;
        box-sizing: border-box;
        padding: 10px;
    }
    .icons-and-logo_768px__content_main {
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
    }
    .icons-and-logo_768px__content_minor {
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
    }
    .icons-and-logo_768px__button {
        background-color: #FFFFFF;
        border: none;
    }
    .icons-and-logo_768px__button:hover:focus:active:visited {
        border: none !important;
        outline-offset: 0 !important;
        outline: none !important;
        outline-width: 0;
    }
    .header-and-feedback {
        flex-direction: column;
        justify-content: center;
    }
    .header-and-feedback__header {
        align-self: flex-start;
    }
    .header-and-feedback__block {
        display: none;
    }
    .main::before {
        content: "";
        background-color: #41F6D7;
        width: 0.5em;
        height: 3.5em;
        position: absolute;
        top: 5em;
        border-radius: 2px;
    }
    .menu {
        overflow: auto;
    }
    .menu__list-item_hidden {
        visibility: visible;
    }
    .menu__list1 {
        display: none;
    }
    .content__minor {
        display: none;
    }
    .content__image {
        width: 360px;
        height: 250px;
    }
    .content {
        margin-top: 1em;
    }
    .content__text {
        margin-top: -1em;
    }
}

@media (max-width:321px) {
    .center {
        width: 320px;
    }
    .icons-and-logo_768px {
        display: none;
    }
    .icons-and-logo_320px {
        
        display: flex;
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }
    .content__el_hidden {
        display: none;
    }
    .content {
        
        display: flex;
        flex-direction: column;
    }
    .content__text {
        flex-grow: 1;
    }
    .icons-and-logo_320px__button {
        border: none;
        background-color: #FFFFFF;
    }
    .icons-and-logo_320px__button:hover:focus:active:visited {
        border: none !important;
        outline-offset: 0 !important;
        outline: none !important;
        outline-width: 0;
    }
}